# Node.js
client/node_modules/
client/npm-debug.log
client/yarn-error.log

# React
client/build/
client/dist/

# Archivos de configuración
.env
config.js
client/.env
client/config.js

# Logs y archivos temporales
*.log
*.tmp

# Archivos IDE
.vscode/
.idea/
.DS_Store
client/.vscode/
client/.idea/

